<div>
  <h2>Users</h2>
  <button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3">Add New User</button>
  <ul class="list-unstyled" *ngIf="loaded && users?.length > 0; else noUsers">
    <li class="card card-body mb-2" *ngFor="let user of users">
      <div class="row">
        <div class="col-sm-4">
          <img *ngIf="user.image" class="img-fluid" [src]="user.image" [alt]="user.firstName">
        </div>
        <div class="col-sm-8">
          <h3>
            {{user.firstName}} {{user.lastName}}
          </h3>
          <ul class="list-group" *ngIf="showExtended && user.age && user.address">
            <li class="list-group-item">
              Age: {{user.age}}
            </li>
            <li class="list-group-item">
              Address: {{user.address.street}} <br/>
              {{user.address.city}} {{user.address.state}}
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #noUsers *ngIf="loaded">
    No Users Found!
  </ng-template>

  <h4 *ngIf="!loaded">
    Loading Users...
  </h4>
</div>
